In [223]:
import pandas as pd
mental_df = pd.read_csv('1- mental-illnesses-prevalence.csv')
gdp_df = pd.read_csv('gdp_ppp_per_capita.csv')

In [224]:
gdp_df.rename(columns = {'Country Name' : 'Country',}, inplace = True)

In [225]:
gdp_df = gdp_df[["Country", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]]

In [226]:
gdp_long = gdp_df.melt(
    id_vars=['Country'],          # Keep the Country column as is
    var_name='Year',              # The column name for former year headers
    value_name='GDP per Capita')   # The column name for the values

In [227]:
gdp_long['Year'] = gdp_long['Year'].apply(int)

In [228]:
gdp_long = gdp_long.sort_values(by=['Country', 'Year']).reset_index(drop=True)

In [229]:
gdp_long

          Country  Year  GDP per Capita
0     Afghanistan  2009     1519.692923
1     Afghanistan  2010     1710.575411
2     Afghanistan  2011     1699.488110
3     Afghanistan  2012     1914.774228
4     Afghanistan  2013     2015.514775
...           ...   ...             ...
2921     Zimbabwe  2015     2679.507615
2922     Zimbabwe  2016     2806.469032
2923     Zimbabwe  2017     3795.642431
2924     Zimbabwe  2018     4017.221716
2925     Zimbabwe  2019     3783.547898

[2926 rows x 3 columns]

In [230]:
mental_df['Year']

0       1990
1       1991
2       1992
3       1993
4       1994
        ...
6415    2015
6416    2016
6417    2017
6418    2018
6419    2019
Name: Year, Length: 6420, dtype: int64

In [231]:
mental_df = mental_df[['Entity','Year','Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized']]

In [232]:
mental_df.rename(columns = {'Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized' : 'Anxiety Rate', 
                           'Entity' : 'Country',}, inplace = True)

In [233]:
mental_df = mental_df[(mental_df['Year'] >= 2009) & (mental_df['Year'] <= 2019)]

In [237]:
merged_df = pd.merge(mental_df, gdp_long, on =['Country','Year'])

In [242]:
merged_df.isnull().nunique()

Country           1
Year              1
Anxiety Rate      1
GDP per Capita    2
dtype: int64

In [ ]:
#round anxiety rate and round gdp per capita to two decimal points

In [256]:
merged_df[merged_df['GDP per Capita'].isnull()]

             Country  Year  Anxiety Rate  GDP per Capita
33    American Samoa  2009      3.981515             NaN
34    American Samoa  2010      3.990867             NaN
35    American Samoa  2011      3.999533             NaN
36    American Samoa  2012      4.010580             NaN
37    American Samoa  2013      4.021694             NaN
...              ...   ...           ...             ...
1598         Somalia  2012      3.299153             NaN
1624     South Sudan  2016      5.004526             NaN
1625     South Sudan  2017      5.020987             NaN
1626     South Sudan  2018      5.009685             NaN
1627     South Sudan  2019      4.977677             NaN

[97 rows x 4 columns]